<span id="map">&nbsp;</span>
<section>
  <h1 class="sect-head bg-sand">交通地图</h1>
  <div class="container-fluid">
    <div id="dituContent"></div>

    <br/>
    <br/>
<!--
    <p><strong>说明：</strong></p>
    <p>
      <i class="icon-retweet"></i>
      到达<strong>南京南站</strong>的朋友，可以坐1号南延线，在新街口换乘2号线，在孝陵卫站下
    </p>
    <p>
      <i class="icon-retweet"></i>
      到达<strong>南京站</strong>的朋友，可以坐1号线，在新街口换乘2号线，在孝陵卫站下
    </p>
    <p>
      <i class="icon-plane"></i>
      我们将与非南京市的宾客联系，安排食宿
    </p>
    <p>
      <i class="icon-envelope"></i>
      liufengyunchina@gmail.com
    </p>
    <p>
      <i class="icon-signal"></i>
      13661867804
    </p>
-->
  </div>
</section>

<script type="text/javascript">
 function makeMarker(latitude, longitude, title, content) {
    var marker = new BMap.Marker(new BMap.Point(longitude, latitude));  //创建标注
    var label = new BMap.Label(title, {'offset': new BMap.Size(20,3)}); //创建标签

    label.setStyle({
      borderColor: "#999",
      color: "red",
      "font-weight": "bold"
    });

    marker.setLabel(label);
    var infoWindow = new BMap.InfoWindow("<b class='iw_poi_title'>" + title + "</b>"
        + "<div class='iw_poi_content'>" + content + "</div>"); //创建信息窗口
    marker.addEventListener("click", function(){this.openInfoWindow(infoWindow);});
    return marker;
  }

  function showMap(){
    var map = new BMap.Map("dituContent");
    var point = new BMap.Point(118.823217, 32.039911);
    map.centerAndZoom(point, 13); //设置地图中心坐标
    map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件

    var markers = [{"latitude":32.091072,"longitude":118.803096,"title":"南京火车站","content":"南京火车站，动车、快车停靠。可以直接换乘1号线地铁"},{"latitude":31.976958,"longitude":118.803959,"title":"南京南站","content":"高铁站，可以直接换乘1号南延线地铁"},{"latitude":32.046766,"longitude":118.790736,"title":"新街口","content":"南京市中心，可以换乘地铁1号线、2号线"},{"latitude":32.039666,"longitude":118.865186,"title":"金港小镇—刘风云&王银爱婚礼","content":"南京市玄武区孝陵卫街37号金港小镇"}];

    for (var i = 0; i < markers.length; i++) {
      var marker = markers[i];
      map.addOverlay(makeMarker(marker.latitude, marker.longitude, marker.title, marker.content));
    }
  }
</script>