<span id="rsvp">&nbsp;</span>

<section>
  <h1 class="sect-head bg-red">婚礼喜宴</h1>
  <div class="container">
    <div class="row">
      <div class="span6">
        <h2>婚礼</h2>
        <p>
          <i class="icon-time"></i>
          2014年11月29日
        </p>
        <p>
          <i class="icon-map-marker"></i>
          天长市杨村镇
        </p>
        <p>
          <i class="icon-signal"></i>
          13661867804
        </p>
        <p>
          <i class="icon-envelope"></i>
          ah_yong@126.com
        </p>
        <br/>
        {% include rsvp.html %}
      </div>
      <div class="span6">
        <img id="wedding_img" src="" />
      </div>
    </div>
  </div>
</section>
